.pets-content {
    padding-bottom: 0.1px;
    background: 
    url('../../assets/images/1600px/background/palm_foto.jpg') left 0 bottom 0,
    url('../../assets/images/1600px/background/strelitzia.jpg') right 0 bottom 0;
    background-repeat: no-repeat;
    
    @media screen and (min-width: 1000px) and (max-width: 1599px) {
        background: 
        url('../../assets/images/1000px/background/palm_foto.jpg') left 0 bottom 0,
        url('../../assets/images/1000px/background/strelitzia.jpg') right 0 bottom 0;
        background-repeat: no-repeat;
    }
    @media screen and (min-width: 640px) and (max-width: 999px) {
        padding-bottom: 0.9px;
        background: 
        url('../../assets/images/640px/background/palm_foto.jpg') left 0 bottom 0,
        url('../../assets/images/640px/background/strelitzia.jpg') right 0 bottom 0;
        background-repeat: no-repeat;
    }
    @media screen and (min-width: 320px) and (max-width: 639px) {
        padding-bottom: 0.1px;
        background: 
        url('../../assets/images/320px/background/palm_foto.jpg') left 0 bottom 0,
        url('../../assets/images/320px/background/strelitzia.jpg') right 0 bottom -4px;
        background-repeat: no-repeat;
    }
    
    .slider {
        position: relative;
        z-index: 1;
        max-width: 1158px;
        width: auto;
        margin: 0 auto;
    
        @media screen and (min-width: 1210px) and (max-width: 1599px) {
            margin: 0 auto 0 auto;
        }
        @media screen and (min-width: 1000px) and (max-width: 1209px) {
            margin: 0 30px 0 30px;
        }
        @media screen and (min-width: 640px) and (max-width: 999px) {
            margin: 0 20px 0 20px;
        }
    }
}

.slider-bg {
    overflow: hidden;
}
.slider::before {
    content: '';
    position: absolute;
    z-index: 2;
    visibility: visible;
    width: 62px;
    height: 62px;
    left: -83px;
    top: calc((100% / 2) - 35px);
    background-image:
                    url('../../assets/icons/arrow_circle/arrow-left_icon.svg'),
                    $orang;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    
    @media screen and (min-width: 1000px) and (max-width: 1440px) {
        left: 323px;
        top: calc((100% / 2) - 34px);
    }
    @media screen and (min-width: 640px) and (max-width: 999px) {
        left: 223px;
        top: calc((100% / 2) - 37px);
    }
    @media screen and (max-width: 639px) {
        transition: 0s;
        display: none;
    }

}
.slider::after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 62px;
    height: 62px;
    right: -81px;
    top: calc((100% / 2) - 35px);
    background-image:
                    url('../../assets/icons/arrow_circle/arrow-right_icon.svg'),
                    $orang;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (min-width: 1000px) and (max-width: 1440px) {
        right: 322px;
        top: calc((100% / 2) - 34px);
    }
    @media screen and (min-width: 640px) and (max-width: 999px) {
        right: 223px;
        top: calc((100% / 2) - 37px);
    }
    @media screen and (max-width: 639px) {
        transition: 0s;
        display: none;
    }
}


.slider__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto;
    width: 202.55%;
    gap: 29px;
    grid-row-gap: 16px;
    transition: 0.1s;
    
    @media screen and (min-width: 1000px) and (max-width: 1440px) {
        grid-row-gap: 88px;
    }
    @media screen and (min-width: 791px) and (max-width: 999px) {
        grid-row-gap: 88px;
        min-width: 306%;
    }
    @media screen and (min-width: 650px) and (max-width: 790px) {
        grid-row-gap: 88px;
        min-width: 308%; 
    }
    @media screen and (min-width: 640px) and (max-width: 649px) {
        grid-row-gap: 88px;
        min-width: 309.5%;
    }
    @media screen and (min-width: 320px) and (max-width: 639px) {
        width: 285px;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 0 auto 0 auto;
        height: 1388px;
        transition: 0s;
    }
    .slider__item {
        box-sizing: border-box;
        border: 1px solid $orange_border;
        border-radius: 5px;
        height: 99%;
        @media screen and (min-width: 320px) and (max-width: 639px) {
            min-height: 332px;
        }
        .slider__img {
            width: 100%;

            @media screen and (min-width: 640px) and (max-width: 999px) {
                width: 100%;
            }
            @media screen and (min-width: 320px) and (max-width: 639px) {
                width: 100%;
                height: 283px;
            }
            img {
                width: 100%;
                height: auto;
                object-fit: contain;

                @media screen and (min-width: 640px) and (max-width: 999px) {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
                @media screen and (min-width: 320px) and (max-width: 639px) {
                    width: 283px;
                    height: 283px;
                    object-fit: contain;
                }
            }
        }
        .slider__item-content {
            display: flex;
            margin: 4px 0 14px 16px;
            @media screen and (min-width: 1000px) and (max-width: 1599px) {
                margin: 4px 0 15px 16px;
            }
            @media screen and (min-width: 640px) and (max-width: 999px) {
                margin: 2.24px 0 10.94px 12.47px;
            }
            @media screen and (min-width: 320px) and (max-width: 639px) {
                margin: 6.24px 0 10.94px 12.47px;
            }
            .slider__item-paragraph {
                display: flex;
                flex-direction: column;

                margin: 0;
                padding: 0;
                .slider__item-title {
                    text-transform: uppercase;

                    @include bodyBtn_font;

                    @media screen and (min-width: 640px) and (max-width: 799px) {
                        font-size: 12.4695px;
                        line-height: 140%;
                    }
                    @media screen and (min-width: 320px) and (max-width: 639px) {
                        font-size: 12.4695px;
                        line-height: 140%;
                    }
                }
                .slider__item-text {
                    font-size: 14.5px;
                    line-height: 119%;

                    @include smallParagraph_font;

                    @media screen and (min-width: 640px) and (max-width: 799px) {
                        font-size: 11.6901px;
                        line-height: 120%;
                    }
                    @media screen and (min-width: 320px) and (max-width: 639px) {
                        font-size: 11.6901px;
                        line-height: 120%;
                    }
                }
            }
        }
    }
}
